body {
 background-color: black;
 text-align: center;
 background: black;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .text-block {
  left: 50%;
  top: 50%;
  translate: (-50%, -50%)
} */

.container {
  display: flex;
 background-image: url("https://ih0.redbubble.net/image.850655622.6681/flat,750x1000,075,f.u1.jpg");
  margin: 5vw auto; 
  height: 57vw;
  width: 45vw;
  justify-content: center;
  /* border: 10px solid #33007B; */
  /* border-radius: 10px; */
  text-align: center;
  border: 5px solid white;
  text-decoration: none;
  background-size: cover;

} 

h3{
  font-family: 'Nosifer', cursive;
  color: white;
  font-size: 10vw;
  text-shadow: 5px 20px red;
}

h1{
  font-family: 'Nosifer', cursive;
  color: white;
  font-size: 7.5vw;
  text-shadow: 5px 20px red;
  
  
}

h2{
  font-family: 'Creepster', cursive;
  color: white;
  text-shadow: 5px 5px black;
  font-size: 2.5vw;
  text-shadow: 4px 4px #9100F6;
  margin: 0;
}

.try {
  width: 1000px;
  height: 1000px;
  background: black;
}

h2:hover {
  text-shadow: 10px -1000px 1000px #03F869;
  transition-duration: 30s;
  color: #F8E803;

}

img {
  width: 25vw;
  border: 3px solid white;
  border-radius: 10px;
  
  

}

.classics {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
  justify-content: center;
  
  
  
}

.spaces {

 margin: 5px 20px;
 
 

}

p {
  /* color: white; */
}

.stats {
  align-items: center;
  
  margin: 0 10vw;
  
}

embed {
 border: 2px solid white;
  border-radius: 10px;
 
}

.stills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
 
  
  
}

.stills > div{
  margin: 1vh 1vw;
}

.shots:hover {
  transform: scale(2.5);
  transition-duration: 1s;
}

.shots {
  margin: 10px;
}


.shotbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
  
  
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("https://media2.giphy.com/media/TK4aDaZrcPvFKnn7cE/giphy.webp?cid=790b761119a7985acc8e3bcaf4b5b9b786d4f48b2f118550&rid=giphy.webp");
  background-size: cover;
  padding: 10px;
  color: white;
  border-bottom: 2px solid white;

}

.tar {
  background-image: url("https://cdn.cheapism.com/images/101415_creepy_graveyards_slide_0_.2e16d0ba.fill-1440x605.jpg");
  background-size: cover;
  margin: 0;
  padding: 40px;
}

.brutal:hover {
  background-image: url("https://media3.giphy.com/media/wD0ZFCQ4KysKs/200.webp?cid=790b7611f6c90134220d123add194d1a274561195d1e8e65&rid=200.webp");
  /* transition-duration: 1s; */
  /* border-radius: 50%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

iframe {
  /* width: 600px;
  height: 450px; */
  height: 40vw;
  width: 60vw
}

.splat:hover {
  background-image: url("https://media3.giphy.com/media/tFOo5iM77msYE/giphy.webp?cid=790b7611f13e5751c44ba454d7b60978e7114aaf8f066034&rid=giphy.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  border-top: 2px solid white;
 
  
  
  background-color: black;

  
}

.again {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("https://media2.giphy.com/media/TK4aDaZrcPvFKnn7cE/giphy.webp?cid=790b761119a7985acc8e3bcaf4b5b9b786d4f48b2f118550&rid=giphy.webp");
  background-size: cover;
}

.tarman:hover {
  background-image: url("https://media3.giphy.com/media/i4FJxsvpiywwg/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img:hover {
  border: 10px solid  #03F869;
  transform: rotateZ(-5deg);
  transition-duration: 1s;
}



.vote {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
  
  
}



button{
  cursor: pointer;
  background-size: cover;
  border-radius: 50%;
  font-family: 'Nosifer', cursive;
  font-size: 25px;
  color: white;
  text-shadow: 3px 3px red;
  border: 3px solid white;
  width: 10vw;
  height: 20vh;
  
}

.trash {
  background-image: url("https://experiencelife.com/wp-content/uploads/2003/03/Talking-Trash-1280x720.jpg");
  background-size: cover;
}

.boomstick {
  background-image: url("https://i0.wp.com/substreammagazine.com/wp-content/uploads/2019/10/Screen-Shot-2019-10-15-at-2.33.57-PM.jpg?fit=2546%2C1288&ssl=1");
  background-size: cover;
}

.desc {
  /* background: white; */
  margin: 0 5vw;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5vw;
  padding: 10px;
  border: 5px solid #9100F6;
  border-radius: 10px;
  background-image: url("https://media2.giphy.com/media/hXNuoNQ0QQXjUaiWh3/200.webp?cid=790b761119a7985acc8e3bcaf4b5b9b786d4f48b2f118550&rid=200.webp?");
  background-size: cover;
}



/* body {
 background-image: url("https://media2.giphy.com/media/TK4aDaZrcPvFKnn7cE/giphy.webp?cid=790b761119a7985acc8e3bcaf4b5b9b786d4f48b2f118550&rid=giphy.webp");
 background-size: cover;
} */

button:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 3px #9100F6;
  transition-duration: 1s;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.moovs{
  font-family: 'Butcherman', cursive;
  /* background-color: white;
  font-size: 2vw;
  border: 3px solid  #9100F6; */
  
  border: 5px solid #9100F6;
  border-radius: 10px;
  background-image: url("https://media2.giphy.com/media/hXNuoNQ0QQXjUaiWh3/200.webp?cid=790b761119a7985acc8e3bcaf4b5b9b786d4f48b2f118550&rid=200.webp?");
  background-size: cover;
  color: white;
  font-size: 2.5vw;
}

.crew {
  /* background-image: url("https://cdn1us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/2016/10/tales-from-the-crypt-comics.png?itok=fyUmNKk2");  */
  background-size: cover;
  font-size: 4vw
}



.head {
  color: white;
  text-decoration: none;

}

.head:hover {
  color: yellow;
}


body {
  background: black;
}

.desc:hover {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCCdceX8IAwqe0kAwwgAK2eQXp8DQUD4145C2IpoZFcOB7lxOM&s");
  text-shadow: .2vw .2vw black;
}

.moovs:hover {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCCdceX8IAwqe0kAwwgAK2eQXp8DQUD4145C2IpoZFcOB7lxOM&s");
  text-shadow: .2vw .2vw black;
}


@media (max-width: 450px) {
  
    .vote {
      flex-direction: row;
      font-size: 2vw;
    }
    

  h1{
    text-shadow: 2px 2px red;
  }
  
  p{
    text-align: center;
  }

  h2 {
    font-size: 7vw; 
  }

  button {
    font-size: 2vw;
    height: 10vh;
    width: 40vw;
    border-radius: 1px;
    margin: 3vh;
  }

  img {
    width: 350px;
  }
  h3 {
    text-shadow: 2px 2px red;
  }
  p {
    font-size: 4vw;
  }

  .media {
    width: 40vw;
    /* margin: 3vh; */
  }

}

h3:hover {
  text-shadow: 50px 500px 250px red;
  transition-duration: 10s;
}

h1:hover {
  text-shadow: 50px 500px 250px red;
  transition-duration: 10s;
}

@media (max-width: 800px) {
  
  .vote {
    flex-direction: row;
    font-size: 2vw;
  }
  

h1{
  text-shadow: 2px 2px red;
}

p{
  text-align: center;
}

h2 {
  font-size: 7vw; 
}

button {
  font-size: 2vw;
  height: 10vh;
  width: 40vw;
  border-radius: 1px;
  margin: 3vh;
}



img {
  width: 350px;
}
h3 {
  text-shadow: 2px 2px red;
}
p {
  font-size: 4vw;
}

.media {
  width: 40vw;
  /* margin: 3vh; */
}

}

h4 {
  font-family: 'Bangers', cursive;
  font-size: 6vw;
  margin: 0;
  color: white;
  text-shadow: .5vw .5vw #03F869;
  text-decoration:  none;
}

.goaway {
  text-decoration: none;
}

.enterIf {
  bottom: 0;
  font-size: 3vw;
  padding-top: 42vw;
}

.container:hover {
  transform: rotateY(350deg);
  transition-duration: 10s;
  cursor: url("https://ih0.redbubble.net/image.69732917.8505/flat,550x550,075,f.u2.jpg")
}