body {
 background-color: black;
 text-align: center;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .text-block {
  left: 50%;
  top: 50%;
  translate: (-50%, -50%)
} */

.container {
 background-image: url("https://ih0.redbubble.net/image.850655622.6681/flat,750x1000,075,f.u1.jpg");
  margin: 0px 420px;
  height: 800px;
  
  /* border: 10px solid #33007B; */
  border-radius: 10px;
  text-align: center;
  border: 5px solid white;

} 

h1{
  font-family: 'Bangers', cursive;
  color: white;
  font-size: 100px;
  text-shadow: 5px 5px #03F869;
  
  
}

h2{
  font-family: 'Creepster', cursive;
  color: white;
  text-shadow: 5px 5px black;
  font-size: 35px;
  text-shadow: 10px 10px #03F869;
  margin: 0;
}

.try {
  width: 1000px;
  height: 1000px;
  background: black;
}

h2:hover {
  text-shadow: 10px -1000px 1000px #03F869;
  transition-duration: 30s;
  color: #F8E803;

}

img {
  width: 350px;
  border: 3px solid white;
  border-radius: 10px;
  margin: 10px 0px;

}

.classics {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
  justify-content: center;
  
  
}

.spaces {
  padding: 20px;
 margin: 0px 20px;

}

p {
  color: white;
}

.stats {
  align-items: center;
  
  margin: 20px 300px;
  
}

embed {
  border: 2px solid white;
  border-radius: 10px;
}

.stills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
  
}

.shots:hover {
  transform: scale(2.5);
  transition-duration: 1s;
}

.shotbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
  
}