body {
 background-color: black;
 text-align: center;
 background: black;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .text-block {
  left: 50%;
  top: 50%;
  translate: (-50%, -50%)
} */

.container {
 background-image: url("https://ih0.redbubble.net/image.850655622.6681/flat,750x1000,075,f.u1.jpg");
  margin: 0px 420px;
  height: 800px;
  
  /* border: 10px solid #33007B; */
  border-radius: 10px;
  text-align: center;
  border: 5px solid white;

} 

h3{
  font-family: 'Nosifer', cursive;
  color: white;
  font-size: 10vw;
  text-shadow: 5px 20px red;
}

h1{
  font-family: 'Nosifer', cursive;
  color: white;
  font-size: 7.5vw;
  text-shadow: 5px 20px red;
  
  
}

h2{
  font-family: 'Creepster', cursive;
  color: white;
  text-shadow: 5px 5px black;
  font-size: 35px;
  text-shadow: 4px 4px #9100F6;
  margin: 0;
}

.try {
  width: 1000px;
  height: 1000px;
  background: black;
}

h2:hover {
  text-shadow: 10px -1000px 1000px #03F869;
  transition-duration: 30s;
  color: #F8E803;

}

img {
  width: 350px;
  border: 3px solid white;
  border-radius: 10px;
  margin: 10px 0px;
  

}

.classics {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
  justify-content: center;
  
  
  
}

.spaces {
  padding: 20px;
 margin: 5px 20px;
 
 

}

p {
  /* color: white; */
}

.stats {
  align-items: center;
  
  margin: 20px 300px;
  
}

embed {
 border: 2px solid white;
  border-radius: 10px;
 
}

.stills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
  
}

.shots:hover {
  transform: scale(2.5);
  transition-duration: 1s;
}

.shots {
  margin: 10px;
}


.shotbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
  
  
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("https://media2.giphy.com/media/TK4aDaZrcPvFKnn7cE/giphy.webp?cid=790b761119a7985acc8e3bcaf4b5b9b786d4f48b2f118550&rid=giphy.webp");
  background-size: cover;
  padding: 10px;
  color: white;
  border-bottom: 2px solid white;

}

.tar {
  background-image: url("https://cdn.cheapism.com/images/101415_creepy_graveyards_slide_0_.2e16d0ba.fill-1440x605.jpg");
  background-size: cover;
  margin: 0;
  padding: 40px;
}

.brutal:hover {
  background-image: url("https://media3.giphy.com/media/wD0ZFCQ4KysKs/200.webp?cid=790b7611f6c90134220d123add194d1a274561195d1e8e65&rid=200.webp");
  /* transition-duration: 1s; */
  /* border-radius: 50%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

iframe {
  /* width: 600px;
  height: 450px; */
  height: 40vw;
  width: 60vw
}

.splat:hover {
  background-image: url("https://media3.giphy.com/media/tFOo5iM77msYE/giphy.webp?cid=790b7611f13e5751c44ba454d7b60978e7114aaf8f066034&rid=giphy.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  
  background-color: black;

  
}

.tarman:hover {
  background-image: url("https://media3.giphy.com/media/i4FJxsvpiywwg/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img:hover {
  border: 10px solid  #03F869;
  transform: rotateZ(-5deg);
  transition-duration: 1s;
}



.vote {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
  
  
}



button{
  cursor: pointer;
  background-size: cover;
  border-radius: 50%;
  font-family: 'Nosifer', cursive;
  font-size: 25px;
  color: white;
  text-shadow: 3px 3px red;
  border: 3px solid white;
  width: 10vw;
  height: 20vh;
  
}

.trash {
  background-image: url("https://experiencelife.com/wp-content/uploads/2003/03/Talking-Trash-1280x720.jpg");
  background-size: cover;
}

.boomstick {
  background-image: url("https://i0.wp.com/substreammagazine.com/wp-content/uploads/2019/10/Screen-Shot-2019-10-15-at-2.33.57-PM.jpg?fit=2546%2C1288&ssl=1");
  background-size: cover;
}

.desc {
  background: white;
  margin: 5vw;
  color: black;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5vw;
  padding: 10px;
  border: 5px solid #9100F6;
  border-radius: 10px;
}

.App {
  margin: 0 2vw;
  background-color: black;
}

/* body {
 background-image: url("https://media2.giphy.com/media/TK4aDaZrcPvFKnn7cE/giphy.webp?cid=790b761119a7985acc8e3bcaf4b5b9b786d4f48b2f118550&rid=giphy.webp");
 background-size: cover;
} */

button:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 3px greenyellow;
  transition-duration: 1s;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.moovs{
  font-family: 'Butcherman', cursive;
  background-color: white;
  font-size: 2vw;
  border: 3px 
}

.crew {
  /* background-image: url("https://cdn1us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/2016/10/tales-from-the-crypt-comics.png?itok=fyUmNKk2");  */
  background-size: cover;
  font-size: 4vw
}



@media (max-width: 400px) {
  
    .vote {
      flex-direction: column;
    }
    .App {
      margin: 0;
    }

  .header
  
  p{
    text-align: center;
  }
}